<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AirBnB Clone</title>
    <link
      rel="icon"
      href="https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon.png"
      type="image/png"
    />
    <link rel="stylesheet" href="./styles/8-places.css" />
    <link rel="stylesheet" href="./styles/6-filters.css" />
    <link rel="stylesheet" href="./styles/4-common.css" />
    <link rel="stylesheet" href="./styles/3-header.css" />
    <link rel="stylesheet" href="./styles/3-footer.css" />
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
            
          </ul>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">

          </ul>
        </div>
        <button type="button">Search</button>
      </section>

      <section class="places">
        <h1>Places</h1>
        <div>
          <article>
            <h2>My home</h2>
            <div class="price_by_night">$80</div>
            <div class="information">
              <div class="max_guest"><p>2 guests</p></div>
              <div class="number_rooms"><p>1 room</p></div>
              <div class="number_bathrooms"><p>2 bathrooms</p></div>
            </div>
            <div class="user"><span>Owner:</span> James Bond</div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              neque, iure animi facere sed cumque?Lorem ipsum, dolor sit amet
              consectetur adipisicing elit. Id explicabo totam dolores quod amet
              natus!
            </div>
          </article>

          <article>
            <h2>Su casa</h2>
            <div class="price_by_night">$65</div>
            <div class="information">
              <div class="max_guest"><p>2 guests</p></div>
              <div class="number_rooms"><p>1 room</p></div>
              <div class="number_bathrooms"><p>2 bathrooms</p></div>
            </div>
            <div class="user"><span>Owner:</span> James Bond</div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              neque, iure animi facere sed cumque?Lorem ipsum, dolor sit amet
              consectetur adipisicing elit. Id explicabo totam dolores quod amet
              natus!
            </div>
          </article>

          <article>
            <h2>A suite</h2>
            <div class="price_by_night">$190</div>
            <div class="information">
              <div class="max_guest"><p>2 guests</p></div>
              <div class="number_rooms"><p>1 room</p></div>
              <div class="number_bathrooms"><p>2 bathrooms</p></div>
            </div>
            <div class="user"><span>Owner:</span> James Bond</div>
            <div class="description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              neque, iure animi facere sed cumque?Lorem ipsum, dolor sit amet
              consectetur adipisicing elit. Id explicabo totam dolores quod amet
              natus!
            </div>
          </article>
        </div>
      </section>
    </div>
    <footer>Best School</footer>
  </body>
</html>
